@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: rgb(0, 11, 19);
  --blue0: rgb(0, 20, 35);
  /*#001423*/
  --blue1: rgb(1, 29, 51);
  --blue2: rgb(53, 131, 191);
  --blue3: rgb(116, 161, 196);
  /* #74a1c4 */
  --blue4: rgb(154, 175, 193);
  --blue5: rgb(180, 214, 244);
  --creme: rgb(238, 228, 185);
  --white: rgb(255, 255, 255);
  --white0: rgb(227, 232, 235);
  --black: rgb(0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Outfit", "outfit", sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Outfit, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Links dropDown */
.menuBurger {
  width: auto;
  cursor: pointer;
  opacity: 0.8;
}

/* menu X NavBar*/
.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #02171f;
  margin: 6px 0;
  transition: 0.4s;
}

.close .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
  opacity: 0.8;
}

.close .bar2 {
  opacity: 0;
}

.close .bar3 {
  transform: translate(0, -11px) rotate(45deg);
  opacity: 0.8;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-200px * 9));
    transform: translateX(calc(-200px * 9));
  }
}

/* BG - Main Logo */
.bgMain {
  background: rgb(4, 18, 31);
  background: linear-gradient(180deg, rgba(4, 18, 31, 1) 0%, rgba(7, 58, 103, 1) 76%, rgba(26, 89, 144, 1) 100%);
}

/* BG - Services */
.bgServices {
  position: relative;
  width: 100%;
  min-height: 100dvh;
}

.bgServices::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
 background-image: url('/assets/services/point.png'); 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9; 

  /* filter: blur(2px); */
  /* Ajusta el valor de opacidad según sea necesario */
  z-index: -1;
}

/* Asegúrate de que el contenido dentro de .bg-companies esté en un contexto superior al pseudo-elemento */
.bgServices > * {
  position: relative;
  z-index: 1;
}